__pycache__/
*.py[cod]
*$py.class

db/*
!db/.gitkeep

tools/*
!tools/.gitkeep

data/*
!data/voices/
!data/voices/**

debug_runner.py

tool_api/tool_api.egg-info
tool_api/tool_api.egg-info/*

app/world_model.py
app/pipeline.py

pretrained_models/*

notes.txt